Repository mobilecoinfoundation/sgx, pull requests merged in 2022-10, with the labels that each got.

#148 Add `load_policy` to `mc-sgx-dcap-ql`
  dcap/ql/src/lib.rs
  dcap/ql/src/quote_enclave.rs
Labels: size/S

#155 Limit size labels to pull requests
  .github/workflows/build.yaml
Labels: size/XS

#150 Add ability to generate a quote to `mc-sgx-dcap-ql`
  dcap/ql/Cargo.toml
  dcap/ql/src/lib.rs
  dcap/ql/src/quote3.rs
  dcap/ql/src/quote_enclave.rs
  dcap/ql/src/quote_generator.rs
  dcap/types/src/lib.rs
  dcap/types/src/quote3.rs
Labels: size/L

#151 Fix some `cargo doc` warnings
  dcap/ql/src/quote_enclave.rs
  dcap/quoteverify/src/quote_enclave.rs
  tservice/src/seal.rs
Labels: size/S

#153 Add `cargo release` configuration
  CHANGELOG.md
  Cargo.toml
  README.md
  capable/Cargo.toml
  capable/sys/Cargo.toml
  capable/sys/types/Cargo.toml
  capable/types/Cargo.toml
  core/build/Cargo.toml
  core/sys/types/Cargo.toml
  core/types/Cargo.toml
  dcap/ql/Cargo.toml
  dcap/ql/sys/Cargo.toml
  dcap/ql/sys/types/Cargo.toml
  dcap/ql/types/Cargo.toml
  dcap/quoteverify/Cargo.toml
  dcap/quoteverify/sys/Cargo.toml
  dcap/quoteverify/sys/types/Cargo.toml
  dcap/quoteverify/types/Cargo.toml
  dcap/sys/types/Cargo.toml
  dcap/tvl/sys/Cargo.toml
  dcap/types/Cargo.toml
  deny.toml
  tcrypto/sys/Cargo.toml
  tcrypto/sys/types/Cargo.toml
  test_enclave/Cargo.toml
  trts/Cargo.toml
  trts/sys/Cargo.toml
  tservice/Cargo.toml
  tservice/sys/Cargo.toml
  tservice/sys/types/Cargo.toml
  tservice/types/Cargo.toml
  tstdc/sys/Cargo.toml
  tstdc/sys/types/Cargo.toml
  urts/Cargo.toml
  urts/sys/Cargo.toml
  urts/sys/types/Cargo.toml
  util/Cargo.toml
Labels: size/L

#156 Add license job, should create a PR on Jan 1.
  .github/workflows/copyright.yaml
Labels: size/S

#157 Do the builder include_path stuff automatically.
  Cargo.lock
  capable/sys/build.rs
  capable/sys/types/build.rs
  core/build/Cargo.toml
  core/build/src/lib.rs
  core/sys/types/build.rs
  dcap/ql/sys/build.rs
  dcap/ql/sys/types/build.rs
  dcap/quoteverify/sys/build.rs
  dcap/quoteverify/sys/types/build.rs
  dcap/tvl/sys/build.rs
  tcrypto/sys/build.rs
  tcrypto/sys/types/build.rs
  trts/sys/build.rs
  tservice/sys/build.rs
  tservice/sys/types/build.rs
  tstdc/sys/build.rs
  tstdc/sys/types/build.rs
  urts/sys/build.rs
  urts/sys/types/build.rs
Labels: size/M

#159 (cargo-release) start next development iteration 0.2.1-pre
  Cargo.lock
  capable/Cargo.toml
  capable/sys/Cargo.toml
  capable/sys/types/Cargo.toml
  capable/types/Cargo.toml
  core/build/Cargo.toml
  core/sys/types/Cargo.toml
  core/types/Cargo.toml
  dcap/ql/Cargo.toml
  dcap/ql/sys/Cargo.toml
  dcap/ql/sys/types/Cargo.toml
  dcap/ql/types/Cargo.toml
  dcap/quoteverify/Cargo.toml
  dcap/quoteverify/sys/Cargo.toml
  dcap/quoteverify/sys/types/Cargo.toml
  dcap/quoteverify/types/Cargo.toml
  dcap/sys/types/Cargo.toml
  dcap/tvl/sys/Cargo.toml
  dcap/types/Cargo.toml
  tcrypto/sys/Cargo.toml
  tcrypto/sys/types/Cargo.toml
  trts/Cargo.toml
  trts/sys/Cargo.toml
  tservice/Cargo.toml
  tservice/sys/Cargo.toml
  tservice/sys/types/Cargo.toml
  tservice/types/Cargo.toml
  tstdc/sys/Cargo.toml
  tstdc/sys/types/Cargo.toml
  urts/Cargo.toml
  urts/sys/Cargo.toml
  urts/sys/types/Cargo.toml
  util/Cargo.toml
Labels: size/L

#167 update the changelog for 0.2.1 release
  .github/workflows/copyright.yaml
  .markdownlint-cli2.jsonc
  CHANGELOG.md
Labels: size/S

#164 Add specific errors for sealing failures
  Cargo.lock
  tservice/Cargo.toml
  tservice/src/seal.rs
Labels: size/L

#165 Add validation of `data` and `aad` values
  CHANGELOG.md
  Cargo.lock
  trts/src/lib.rs
  tservice/Cargo.toml
  tservice/src/seal.rs
Labels: size/L

#166 Add `PathInitializer` to `mc-sgx-dcap-ql`
  Cargo.lock
  dcap/ql/Cargo.toml
  dcap/ql/src/lib.rs
  dcap/ql/src/quote3.rs
  dcap/ql/src/quote_enclave.rs
Labels: size/L

#171 Add explicit errors for failures to set_path
  dcap/ql/src/lib.rs
  dcap/ql/src/quote_enclave.rs
Labels: size/M

#173 `mc-sgx-dcap-ql` limits the enclave load policy to one call
  CHANGELOG.md
  dcap/ql/src/lib.rs
  dcap/ql/src/quote3.rs
  dcap/ql/src/quote_enclave.rs
Labels: size/L

#174 Add `mc-sgx-dcap-quoteverify::PathInitializer`
  Cargo.lock
  dcap/ql/src/lib.rs
  dcap/ql/src/quote_enclave.rs
  dcap/quoteverify/Cargo.toml
  dcap/quoteverify/src/lib.rs
  dcap/quoteverify/src/quote_enclave.rs
  dcap/quoteverify/src/verify.rs
Labels: size/L

#175 Add `LoadPolicyInitializer` to `mc-sgx-dcap-quoteverify`
  CHANGELOG.md
  dcap/ql/src/quote3.rs
  dcap/ql/src/quote_enclave.rs
  dcap/quoteverify/src/lib.rs
  dcap/quoteverify/src/quote_enclave.rs
  dcap/quoteverify/src/verify.rs
Labels: size/L

#177 (cargo-release) start next development iteration 0.3.1-beta.0
  Cargo.lock
  capable/Cargo.toml
  capable/sys/Cargo.toml
  capable/sys/types/Cargo.toml
  capable/types/Cargo.toml
  core/build/Cargo.toml
  core/sys/types/Cargo.toml
  core/types/Cargo.toml
  dcap/ql/Cargo.toml
  dcap/ql/sys/Cargo.toml
  dcap/ql/sys/types/Cargo.toml
  dcap/ql/types/Cargo.toml
  dcap/quoteverify/Cargo.toml
  dcap/quoteverify/sys/Cargo.toml
  dcap/quoteverify/sys/types/Cargo.toml
  dcap/quoteverify/types/Cargo.toml
  dcap/sys/types/Cargo.toml
  dcap/tvl/sys/Cargo.toml
  dcap/types/Cargo.toml
  tcrypto/sys/Cargo.toml
  tcrypto/sys/types/Cargo.toml
  trts/Cargo.toml
  trts/sys/Cargo.toml
  tservice/Cargo.toml
  tservice/sys/Cargo.toml
  tservice/sys/types/Cargo.toml
  tservice/types/Cargo.toml
  tstdc/sys/Cargo.toml
  tstdc/sys/types/Cargo.toml
  urts/Cargo.toml
  urts/sys/Cargo.toml
  urts/sys/types/Cargo.toml
  util/Cargo.toml
Labels: size/L

#179 Ensure types crates don't use alloc with CI
  .github/workflows/build.yaml
  Cargo.lock
  Cargo.toml
  core/build/README.md
  core/build/headers/tlibc/assert.h
  core/build/headers/tlibc/ctype.h
  core/build/headers/tlibc/endian.h
  core/build/headers/tlibc/errno.h
  core/build/headers/tlibc/float.h
  core/build/headers/tlibc/inttypes.h
  core/build/headers/tlibc/iso646.h
  core/build/headers/tlibc/limits.h
  core/build/headers/tlibc/math.h
  core/build/headers/tlibc/mbusafecrt.h
  core/build/headers/tlibc/pthread.h
  core/build/headers/tlibc/setjmp.h
  core/build/headers/tlibc/stdarg.h
  core/build/headers/tlibc/stdbool.h
  core/build/headers/tlibc/stddef.h
  core/build/headers/tlibc/stdint.h
  core/build/headers/tlibc/stdio.h
  core/build/headers/tlibc/stdlib.h
  core/build/headers/tlibc/string.h
  core/build/headers/tlibc/sys/_types.h
  core/build/headers/tlibc/sys/cdefs.h
  core/build/headers/tlibc/sys/endian.h
  core/build/headers/tlibc/sys/limits.h
  core/build/headers/tlibc/sys/stdint.h
  core/build/headers/tlibc/sys/types.h
  core/build/headers/tlibc/time.h
  core/build/headers/tlibc/unistd.h
  core/build/headers/tlibc/wchar.h
  core/build/headers/tlibc/wctype.h
  core/build/src/lib.rs
  core/types/Cargo.toml
  core/types/src/error.rs
  core/types/src/lib.rs
  tservice/src/report.rs
  urts/sys/types/src/lib.rs
Labels: size/XXL

#181 Add Android and iOS for CI builds
  .github/workflows/build.yaml
Labels: size/S

#182 Pull our custom actions from the MCF actions repo.
  .github/actions/dcap-libs/action.yaml
  .github/actions/sgxsdk/action.yaml
  .github/workflows/build.yaml
Labels: size/M
