Repository mobilecoinfoundation/sgx, pull requests merged in 2022-12, with the labels that each got.

#214 Pin CI DCAP libs to 1.15.100.3
  .github/workflows/ci.yaml
Labels: github_actions, size/XS

#204 Add method to get SignatureData from Quote3
  dcap/types/src/lib.rs
  dcap/types/src/quote3.rs
Labels: size/M

#205 Move `CertificationData` to its own module
  dcap/types/src/certification_data.rs
  dcap/types/src/error.rs
  dcap/types/src/lib.rs
  dcap/types/src/quote3.rs
Labels: size/XXL

#208 Add test case for parsing a real quote
  dcap/types/data/tests/README.md
  dcap/types/data/tests/hw_quote.dat
  dcap/types/src/quote3.rs
Labels: size/S

#216 Quote the GH token in add-to-project action
  .github/workflows/pr.yaml
Labels: github_actions, size/XS

#217 Remove most of actions-rs
  .github/workflows/ci.yaml
Labels: github_actions, size/M

#218 Quote the add-to-project token for issues
  .github/workflows/issues.yaml
Labels: github_actions, size/XS

#219 Allow beta clippy/docs warnings
  .github/workflows/ci.yaml
Labels: github_actions, size/S

#222 chore(deps): Bump actions/checkout from v2 to v3
  .github/workflows/ci.yaml
Labels: github_actions, size/XS

#223 Fix beta clippy warning in core-build
  core/build/src/lib.rs
Labels: size/XS

#225 Mark vendored files for GitHub linguist
  .gitattributes
Labels: size/XS

#228 Fix clippy warnings for beta toolchain
  core/build/src/lib.rs
  core/types/src/attributes.rs
  tcrypto/sys/src/lib.rs
  trts/sys/build.rs
  tservice/src/seal.rs
  tservice/sys/build.rs
  urts/sys/build.rs
Labels: size/S

#224 Convert `CertificationData` into an enum
  dcap/types/src/certification_data.rs
  dcap/types/src/error.rs
  dcap/types/src/quote3.rs
Labels: size/L

#227 Update nightly in CI to 2022-12-13
  .github/workflows/ci.yaml
  dcap/types/src/certification_data.rs
Labels: github_actions, size/M

#229 Add docs to the `CertificationData` variants
  dcap/types/src/certification_data.rs
  dcap/types/src/lib.rs
Labels: size/S

#231 (cargo-release) start next development iteration 0.4.1-beta.0
  Cargo.lock
  capable/Cargo.toml
  capable/sys/Cargo.toml
  capable/sys/types/Cargo.toml
  capable/types/Cargo.toml
  core/build/Cargo.toml
  core/sys/types/Cargo.toml
  core/types/Cargo.toml
  dcap/ql/Cargo.toml
  dcap/ql/sys/Cargo.toml
  dcap/ql/sys/types/Cargo.toml
  dcap/ql/types/Cargo.toml
  dcap/quoteverify/Cargo.toml
  dcap/quoteverify/sys/Cargo.toml
  dcap/quoteverify/sys/types/Cargo.toml
  dcap/quoteverify/types/Cargo.toml
  dcap/sys/types/Cargo.toml
  dcap/tvl/sys/Cargo.toml
  dcap/types/Cargo.toml
  tcrypto/sys/Cargo.toml
  tcrypto/sys/types/Cargo.toml
  trts/Cargo.toml
  trts/sys/Cargo.toml
  tservice/Cargo.toml
  tservice/sys/Cargo.toml
  tservice/sys/types/Cargo.toml
  tservice/types/Cargo.toml
  tstdc/sys/Cargo.toml
  tstdc/sys/types/Cargo.toml
  urts/Cargo.toml
  urts/sys/Cargo.toml
  urts/sys/types/Cargo.toml
  util/Cargo.toml
Labels: dependencies, rust, size/L

#232 Fix the build status link for root README
  README.md
Labels: size/XS
