Repository mobilecoinfoundation/sgx, pull requests merged in 2022-11, with the labels that each got.

#184 Use stable for rust builds
  .github/workflows/build.yaml
  rust-toolchain.toml
Labels: size/S

#186 Move `mc-sgx-dcap-types::Error` to a separate module
  dcap/types/src/error.rs
  dcap/types/src/lib.rs
  dcap/types/src/quote3.rs
Labels: size/XL

#188 Add `mc-sgx-dcap-types::Quote3::verify_nonce()`
  CHANGELOG.md
  Cargo.lock
  dcap/types/Cargo.toml
  dcap/types/src/quote3.rs
Labels: size/L

#190 Rename `mc_sgx_dcap_types::Quote3Error` to SgxError
  CHANGELOG.md
  dcap/ql/src/lib.rs
  dcap/ql/src/quote3.rs
  dcap/ql/src/quote_enclave.rs
  dcap/quoteverify/src/lib.rs
  dcap/quoteverify/src/quote_enclave.rs
  dcap/quoteverify/src/verify.rs
  dcap/types/src/error.rs
  dcap/types/src/lib.rs
Labels: size/L

#189 Remove nono job from CI
  .github/workflows/build.yaml
  rustfmt.toml
Labels: size/M

#193 Update Quote3 to ensure correct version and size.
  Cargo.lock
  dcap/ql/src/lib.rs
  dcap/ql/src/quote3.rs
  dcap/types/Cargo.toml
  dcap/types/src/lib.rs
  dcap/types/src/quote3.rs
Labels: size/L

#196 Change `mc-sgx-core-types::ReportBody` to use TryFrom
  Cargo.lock
  core/types/Cargo.toml
  core/types/src/error.rs
  core/types/src/quote.rs
  core/types/src/report.rs
Labels: size/L

#197 Add `report_body` member to `Quote3`
  dcap/types/src/quote3.rs
Labels: size/M

#198 Remove overriding profile defaults
  Cargo.toml
Labels: size/XS

#200 Use nom for Quote3 parsing
  Cargo.lock
  dcap/types/Cargo.toml
  dcap/types/src/quote3.rs
Labels: size/L

#202 Add SignatureData
  CHANGELOG.md
  Cargo.lock
  dcap/types/Cargo.toml
  dcap/types/src/quote3.rs
Labels: size/L

#206 Port stuff from core-rust-template
  .github/CODEOWNERS
  .github/dependabot.yaml
  .github/labeler.yml
  .github/pull_request_template.md
  .github/triage-labeler.yml
  .github/workflows/build.yaml
  .github/workflows/copyright.yaml
  .github/workflows/issues.yaml
  .github/workflows/pr.yaml
  .markdownlint-cli2.jsonc
  CODE_OF_CONDUCT.md
Labels: github_actions, size/L

#207 Rename build.yaml/rust to ci.yaml/ci
  .github/workflows/ci.yaml
Labels: github_actions, size/XS

#210 Update add2project action.
  .github/workflows/issues.yaml
  .github/workflows/pr.yaml
Labels: github_actions, size/XS

#211 Add auto-assignment configuration
  .github/auto_assign.yml
  .github/workflows/pr-assign.yaml
Labels: github_actions, size/S
