Repository mobilecoinfoundation/sgx, pull requests merged in 2023-01, with the labels that each got.

#233 Update the build label url
  README.md
Labels: size/XS

#234 Update CODEOWNERS
  .github/CODEOWNERS
Labels: size/S

#246 Link the CoC in the readme.
  README.md
Labels: size/XS

#240 Use globstar for copyright.yaml
  .github/workflows/copyright.yaml
Labels: github_actions, size/XS

#245 Add `mc-sgx-sdk-tools` crate
  .github/CODEOWNERS
  Cargo.lock
  Cargo.toml
  sdk-tools/Cargo.toml
  sdk-tools/README.md
  sdk-tools/src/lib.rs
Labels: dependencies, rust, size/M

#247 Add thumbv7 and thumbv8 CI targets
  .github/workflows/ci.yaml
Labels: github_actions, size/XS

#252 Remove Cargo.lock
  .github/workflows/ci.yaml
  Cargo.lock
Labels: dependencies, github_actions, rust, size/XS

#251 Add rust wrapper for edger8r tool
  sdk-tools/Cargo.toml
  sdk-tools/src/edger8r.rs
  sdk-tools/src/lib.rs
Labels: rust, size/L

#254 Add `Edger8r::search_path()` method
  sdk-tools/src/edger8r.rs
Labels: size/L

#255 Expose synchronization constants and defaults
  CHANGELOG.md
  core/build/src/lib.rs
  tstdc/sys/types/build.rs
  tstdc/sys/types/src/lib.rs
Labels: size/L

#256 Add the `mc-sgx-tstdc` crate
  CHANGELOG.md
  Cargo.toml
  core/build/src/lib.rs
  tstdc/Cargo.toml
  tstdc/README.md
  tstdc/src/lib.rs
  tstdc/src/mutex.rs
Labels: rust, size/L

#259 Add `Condvar` to `mc-sgx-tstdc`
  tstdc/src/condvar.rs
  tstdc/src/lib.rs
  tstdc/src/mutex.rs
Labels: size/L

#260 Add `RwLock` to `mc-sgx-tstdc`
  tstdc/src/condvar.rs
  tstdc/src/lib.rs
  tstdc/src/rwlock.rs
Labels: size/L

#262 Expand `mc-sgx-tstdc` docs
  .markdownlint-cli2.jsonc
  tstdc/README.md
  util/src/lib.rs
Labels: size/S

#263 Update changelog for v0.4.1 release
  CHANGELOG.md
Labels: size/XS

#269 (cargo-release) start next development iteration 0.4.2-beta.0
  capable/Cargo.toml
  capable/sys/Cargo.toml
  capable/sys/types/Cargo.toml
  capable/types/Cargo.toml
  core/build/Cargo.toml
  core/sys/types/Cargo.toml
  core/types/Cargo.toml
  dcap/ql/Cargo.toml
  dcap/ql/sys/Cargo.toml
  dcap/ql/sys/types/Cargo.toml
  dcap/ql/types/Cargo.toml
  dcap/quoteverify/Cargo.toml
  dcap/quoteverify/sys/Cargo.toml
  dcap/quoteverify/sys/types/Cargo.toml
  dcap/quoteverify/types/Cargo.toml
  dcap/sys/types/Cargo.toml
  dcap/tvl/sys/Cargo.toml
  dcap/types/Cargo.toml
  sdk-tools/Cargo.toml
  tcrypto/sys/Cargo.toml
  tcrypto/sys/types/Cargo.toml
  trts/Cargo.toml
  trts/sys/Cargo.toml
  tservice/Cargo.toml
  tservice/sys/Cargo.toml
  tservice/sys/types/Cargo.toml
  tservice/types/Cargo.toml
  tstdc/Cargo.toml
  tstdc/sys/Cargo.toml
  tstdc/sys/types/Cargo.toml
  urts/Cargo.toml
  urts/sys/Cargo.toml
  urts/sys/types/Cargo.toml
  util/Cargo.toml
Labels: rust, size/L

#266 Remove `/*.*` from `CODEOWNERS`
  .github/CODEOWNERS
Labels: size/XS

#267 Add varsha to codeowners for sdk-tools.
  .github/CODEOWNERS
Labels: size/XS

#261 Add `sign.rs` to `sdk-tools`
  sdk-tools/src/lib.rs
  sdk-tools/src/sign.rs
Labels: size/L
