Repository mobilecoinfoundation/sgx, pull requests merged in 2023-07, with the labels that each got.

#358 SGX Measurements To/From Hex
  core/types/Cargo.toml
  core/types/src/macros.rs
  core/types/src/measurement.rs
Labels: rust, size/M

#359 Add vim to devcontainer
  .devcontainer/Dockerfile
Labels: size/XS

#360 Add From<Quote3<&[u8]>> for Quote<Vec<u8>>
  dcap/types/src/quote3.rs
Labels: size/S

#361 Update CHANGELOG.md for 0.7.1
  CHANGELOG.md
Labels: size/S

#363 Fix tstdc crates calling out 0.7.0 dependencies
  tstdc/Cargo.toml
  tstdc/sys/Cargo.toml
Labels: rust, size/S

#364 Add `Cargo.lock`
  .github/workflows/ci.yaml
  .gitignore
  Cargo.lock
Labels: dependencies, github_actions, rust, size/S

#365 Add Serialize/Deserialize to `TargetInfo`
  Cargo.lock
  core/sys/types/Cargo.toml
  core/sys/types/build.rs
  core/sys/types/src/lib.rs
  core/types/Cargo.toml
  core/types/src/target_info.rs
  deny.toml
Labels: dependencies, rust, size/M

#366 Add De/Serialize to `Report`
  core/sys/types/build.rs
  core/sys/types/src/lib.rs
  core/types/src/report.rs
Labels: size/M

#367 Add De/Serialize for `Qoute3`
  Cargo.lock
  dcap/types/Cargo.toml
  dcap/types/src/quote3.rs
Labels: dependencies, rust, size/M

#368 Update changelog for 0.7.2 release
  CHANGELOG.md
Labels: size/XS

#379 Add Deserialize for `Quote3<Vec<u8>>`
  .devcontainer/Dockerfile
  dcap/types/src/quote3.rs
Labels: size/S

#380 Loosen the version of serde in `Cargo.toml` files
  capable/types/Cargo.toml
  core/types/Cargo.toml
  dcap/types/Cargo.toml
  tservice/Cargo.toml
Labels: rust, size/XS

#382 Add `Serialize` and `Deserialize` traits to `Collateral`
  dcap/types/src/collateral.rs
Labels: size/L

#385 Add `Serialize` and `Deserialize` traits to `Quote3Error`
  dcap/types/src/error.rs
Labels: size/S
