Repository mobilecoinfoundation/sgx, pull requests merged in 2023-03, with the labels that each got.

#288 Remove `mc_sgx_core_types::Measurement`
  CHANGELOG.md
  core/types/src/lib.rs
  core/types/src/measurement.rs
  core/types/src/report.rs
  core/types/src/target_info.rs
Labels: size/L

#287 Make some `mc-sgx-core-types::ReportBody` members public
  core/types/src/lib.rs
Labels: size/XS

#289 Ensure there aren't any lone CODEOWNERS
  .github/CODEOWNERS
Labels: size/S

#291 Add `BitAnd` to `mc-sgx-core-types::ReportData`
  CHANGELOG.md
  core/types/src/report.rs
Labels: size/M

#294 Bitwise and for references of `mc-sgx-core-types::ReportData`
  core/types/src/report.rs
Labels: size/S

#297 (cargo-release) start next development iteration 0.5.1-beta.0
  capable/Cargo.toml
  capable/sys/Cargo.toml
  capable/sys/types/Cargo.toml
  capable/types/Cargo.toml
  core/build/Cargo.toml
  core/sys/types/Cargo.toml
  core/types/Cargo.toml
  dcap/ql/Cargo.toml
  dcap/ql/sys/Cargo.toml
  dcap/ql/sys/types/Cargo.toml
  dcap/ql/types/Cargo.toml
  dcap/quoteverify/Cargo.toml
  dcap/quoteverify/sys/Cargo.toml
  dcap/quoteverify/sys/types/Cargo.toml
  dcap/quoteverify/types/Cargo.toml
  dcap/sys/types/Cargo.toml
  dcap/tvl/sys/Cargo.toml
  dcap/types/Cargo.toml
  sdk-tools/Cargo.toml
  tcrypto/sys/Cargo.toml
  tcrypto/sys/types/Cargo.toml
  trts/Cargo.toml
  trts/sys/Cargo.toml
  tservice/Cargo.toml
  tservice/sys/Cargo.toml
  tservice/sys/types/Cargo.toml
  tservice/types/Cargo.toml
  tstdc/Cargo.toml
  tstdc/sys/Cargo.toml
  tstdc/sys/types/Cargo.toml
  urts/Cargo.toml
  urts/sys/Cargo.toml
  urts/sys/types/Cargo.toml
  util/Cargo.toml
Labels: rust, size/L

#299 Actions Updates
  .github/auto_assign.yml
  .github/labeler.yml
  .github/workflows/ci.yaml
  .github/workflows/issues.yaml
  .github/workflows/pr-assign.yaml
  .github/workflows/pr.yaml
Labels: github_actions, size/L

#301 Add `Display` implementation for newtype wrappers
  core/types/Cargo.toml
  core/types/src/attestation_key.rs
  core/types/src/attributes.rs
  core/types/src/config_id.rs
  core/types/src/key_request.rs
  core/types/src/macros.rs
  core/types/src/quote.rs
  core/types/src/report.rs
  core/types/src/svn.rs
  core/types/src/target_info.rs
  dcap/types/src/quoting_enclave.rs
Labels: rust, size/L
